# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
virt/
.env

# Django stuff
db.sqlite3
*.log

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Static and media (optional)
staticfiles/
media/
